body{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

/* Background overlay to disable background */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999;
    display: none; /* Initially hidden */
}

/* Floating Form */
.row {
    position: fixed ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
     /* Initially hidden */
}

/* Close Button */
.cancelBtn {
    text-align: right;
}


.createFrm{
    width: auto;
}

.table{
    width: 50%;
    text-align: center;
    margin-top: 1%;
}

.align-items-center {
    justify-content: center;
}


.col-auto{
    font-weight: bold;
    margin: 0px;  
    width: 100%;
}


.frmBtn{
    display: flex;
    justify-content: space-evenly;
}

.cancelBtn{
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 0;
}
#cancelBtn{ 
    width: 10px;

}